body{
    margin: 0; 
    height: auto;
    background-color: #0007;
}

.wrapper{
    height: 100%;

}

p, h1, h2, h3, h4{
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
    
.titel{
    /* color:yellow; */
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: orangered;
    color: yellow;
    font-family: 'Kanit', sans-serif;
    font-size: 6em;
    margin: 0 -10px 0 -10px;
}

.slogan{
    background-color: orangered;
    color: yellow;
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    font-size: 2em;
}

.countdown{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* font-size: 15px; */
    font-family: 'Black Ops One', cursive;
}

.news{
    background-color: orangered;
    margin-top: 20px;
    padding: 10px;
    /* border-radius: 5px; */
    font-family: 'Source Sans Pro', sans-serif;
}

.main_story{
    margin-top: 10px;
    border-top: 1px solid;
}

.substory{
    margin-top: 10px;
    
    border-top: 1px solid;
}
.ROTM{
    height: 200px;
    /* border-radius: 5px; */
    background-color: orangered;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Source Sans Pro', sans-serif;
}

.nissebild{
    height: 100px;
    width: 100px;
    background-color: white;
    background-size: contain;
    padding: 5px;
    border-radius: 10px;
}

.propaganda{
    margin-top: 20px;
    background-color: orangered;
    padding: 10px;
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Source Sans Pro', sans-serif;
}

.prop_item{
    margin-top: 5px;
    border-top: 1px solid;
}

.gallery{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
    margin-top: 20px;
}