body{
    height: 120vh;
    margin: 0;
    background-image: url(../img/branches-cold-conifers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.wrapper{
    /* background-color: #555; */
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 20% 20% auto;
    grid-template-areas: 
    "empty"
    "header"
    "main";

}

header{
    grid-area: header;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comfortaa', cursive;
}

.linkblock{
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    margin: 0;
}

.empty{
    grid-area: empty;
}

.titel{
    font-size: 2em;
    margin: 10px;
}

.slogan{
    font-size: 1.5em;
    margin: 10px;
    text-align: center;
}

a.link{
    /* margin: 0; */
    text-decoration: none;
    color: white;
    padding: 2px 10px 2px 10px ;
    margin: 30px;
    font-size: 1.2em;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

a.link:hover{
    cursor: pointer;
    background-color: rgb(23, 89, 173);
    /* color: #333; */
    transition: 0.5s;
    box-shadow: 0 0 10px 1px #555;
}

a.link:visited{
    text-decoration: none;
}

.info{
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    margin-top: 50%;
    color: white;
}

.location{
    /* margin-top: 50%; */
}
.kontakt{
    /* margin-bottom: 0; */
}

@media only screen and (min-width: 900px){
    body{
        height: 100vh;
    }

    .wrapper{
         
    }

    .titel{
        font-size: 3em;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .linkblock{
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
    }

    a.link{
        font-size: 1.5em;
    }

    .info{
        margin: 0;
    }
    .location{
        margin: 0;
    }
}