body{
    height: 120vh;
    margin: 0;
}

.wrapper{
    background-color: #555;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 20% auto;
    grid-template-areas: 
    "empty"
    "main";

}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    margin: 0;
}

.empty{
    grid-area: empty;
}

.titel{
    font-size: 2em;
    margin: 10px;
}

.slogan{
    font-size: 1.5em;
    margin: 10px;
    text-align: center;
}

a.link{
    /* margin: 0; */
    text-decoration: none;
    color: white;
    padding: 0 20px 0 20px ;
    margin: 30px;
    font-size: 1.2em;
}

a.link:hover{
    cursor: pointer;
}

a.link:visited{
    text-decoration: none;
}

.info{
    margin: 5px;
}

.location{
    margin-top: 50%;
}
.kontakt{
    margin-bottom: 0;
}